window._config = {
    cognito: {
        userPoolId: '${user_pool_id}', // e.g. us-east-2_uXboG5pAb
        userPoolClientId: '${user_pool_client_id}', // e.g. 25ddkmj4v6hfsfvruhpfi7n4hv
        region: '${aws_region}' // e.g. us-east-2
    },
    api: {
        invokeUrl: '${invoke_url}' // e.g. https://rc7nyt4tql.execute-api.us-west-2.amazonaws.com/prod',
    }
};